@import '../../../assets/css/style.css';

.shop-page .title-page{
    padding: 2rem 0;
    border-bottom: 0.1rem solid var(--light-gray);
}

.shop-page .title-page>p,
.book-list .bl-filter,
.book-list #mainRow .card .card-body .book-title{
    font-weight: var(--bold);
}

.shop-page .title-page>p>span{
    font-weight: ;
}
